body {
	width:600px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	font-size:16px;
	position: relative;
	-webkit-text-size-adjust: none;
}

h2 {
	font-size: 16px;
	margin:0;
	padding:0px 0px 5px 0px;
	font-weight:bold;
	text-decoration: underline;

}

#header_wrap {
	float:left;
	width:600px;
	height:60px;
	background-color:#2d1498;
}


#header_wrap h1 {
	font-size:40px;
	font-weight:bold;
	color:white;
	text-align:center;
	margin:0px;
	padding:5px;
}


table {
	width:600px;
	float:left;
	margin-top:15px;
}
table td {
	width:176px;
}

.icons {
	width:60px;
}

.icons img {
	width:20px;
	padding-left: 5px;
	float:right;
}

#add_user {
	margin-top:10px;
	float:left;
}

#add_user span {
	width:196px;
	float:left;
	margin-left:6px;
}

#add_user span:first-child {
	margin-left:0px;
}

#add_user br{
	clear:both;
}

#add_user span input {
	width:190px;
}

#add_button {
	float:right;
	width:100px;
	height:22px;
	background-color: green;
	border-radius: 5px;
	color:white;
	text-align: center;
	padding-top:3px;
	font-weight: bold;
}

#add_button:hover {
	font-weight: bold;
	background-color:#68e73c ;
}

#edit_button {
	float:right;
	width:100px;
	height:22px;
	background-color: green;
	border-radius: 5px;
	color:white;
	text-align: center;
	padding-top:3px;
	font-weight: bold;
	margin-top: 10px;
}

#edit_button:hover {
	font-weight: bold;
	background-color:#68e73c ;
}

#edit_user {
	display:none;
	width:195px;
	background-color:#a590ff;
	position:absolute;
	padding:10px;
	right:-219px;
	top:185px;
	border-radius: 10px;
	border:2px solid #2d1498;
}

#edit_user span input {
	width:190px;
}